@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-responsive-container:focus {
  outline: none !important;
}
html, body {
  background: transparent;
}
