@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
